.si-stamp-btn {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  padding: 0;
  margin: 0 2px;
  background: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  vertical-align: bottom;
  line-height: 0;
  transition: opacity 0.15s, background 0.15s;
}

.si-stamp-btn:hover {
  background: rgba(0, 0, 0, 0.08);
}

.si-stamp-btn:disabled {
  opacity: 0.35;
  cursor: default;
}

.si-stamp-btn svg {
  display: block;
  width: 25px;
  height: 25px;
}
